.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}


.buyNow button{
  height: 3em;
}

.sale {
    background: orange;
    color: white;
    text-align: center;
    position: absolute;
    width: 5em;
    line-height: 2.5em;
    margin-left: 10.8em;
}

@keyframes beat {
  from {  transform: rotate(-20deg) scale(1); }
  to {  transform: rotate(-20deg) scale(1.1); }
}

@keyframes beat {
  from {  transform: rotate(-20deg) scale(1); }
  to {  transform: rotate(-20deg) scale(1.1); }
}

.image {
    width: 30vh;
    object-fit: contain;
    max-height: 15vh;
}

.card {
border: 2px solid;
    padding: 1.5em;
    border-radius: 10%;
}

.buyNow {
  display: grid;
}
.cards{
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.cards h2,p{
  text-align: left;
}

.h1header{
margin-left: 2em;
}

#footer-ul{
  list-style: none;
}

#header-ul{
  list-style: none;
  display: flex;
  margin-right: 2em;
}

.list-item{
  padding-right: 2em;
}

.footerContainer{
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footerDesc{
  margin-left: 2em;
}

.App-link {
  color: #61dafb;
}

main{
  margin: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
